h2, p{
    all: unset;
}

.AudiCard{
    /* min-width: 30rem; */
    width: 60vw;
    height: fit-content;

    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    color: #333;
    gap: 1rem;
    font-family: 'AudiType';
    background-color: #ffffff;
}

.AudiCard > h2{
    text-transform: capitalize;
}

.AudiCard > p{
    line-height: 28px;
}

.AudiCardInteractions{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    grid-auto-rows: 1fr;
}